@keyframes flyInRight {
  0% {
    opacity: 0;
    transform: translateX(100%) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

.second-text {
  animation-name: flyInRight;
}

@keyframes flyInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(-50%);
  }
}

.fourth-text {
  animation-name: flyInLeft;
}
