@keyframes popOut {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heart-container {
  position: relative;
}

.heart {
  position: absolute;
  top: 30;
  left: 40;
  width: 1000px;
  height: 1000px;
  background-color: red;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.text-container {
  position: relative;
  z-index: 1; /* Ensure text appears above the heart */
  padding: 20px;
}

.first-text,
.second-text,
.third-text,
.fourth-text,
.fifth-text {
  animation-name: popOut;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.second-text {
  animation-delay: 0.5s; /* Delay for the second text */
}

.third-text {
  animation-delay: 1s; /* Delay for the third text */
}

.fourth-text {
  animation-delay: 1.5s; /* Delay for the fourth text */
}

.fifth-text {
  animation-delay: 2s; /* Delay for the fifth text */
}
